{
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "extends": "rallycoding",
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "globals": {
    "PRIMARY_COLOR": true,
    "SECONDARY_COLOR": true,
    "ERROR_COLOR": true,
    "TRANSITION_TIMEOUT": true,
    "PRIMARY_FONT": true,
    "SECONDARY_FONT": true
  },
  "env": {
    "browser": true
  }
}