.sidebar
  width: 16.66666667%
  display: block
  height: 100vh
  position: fixed
  transition: margin 350ms ease-in-out
  z-index: 1

  &.inactive
    margin-left: -16.66666667%
    .sidebar-button
      background-color: $primary-color
      opacity: 0.5

  .top-section
    padding: 20px

  .sidebar-button
    transition: all 350ms ease-in-out
    position: absolute
    left: 100%
    width: 5vw
    height: 5vw
    margin-left: -2.5vw
    top: 50%
    background-color: white
    border: 1px $primary-color solid
    &:hover
      opacity: 1
      background-color: $primary-color

  .sidebar-background
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: $primary-color
    filter: blur(-4px)
    opacity: 0.9
    z-index: -1

.sidebar-option
  position: relative
  a
    color: white
    width: 100%
    display: block
    padding: 1rem
    &:hover
      font-weight: bold
  &.with-dropdown

.sidebar-dropdown
  position: absolute
  top: 0
  left: 100%

.sidebar-dropdown-option
  padding: 1rem
  background: $secondary-color
  &:hover
    background: $alternative-color
  a
    color: white
    width: 100%
    display: block
